<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="gbConn" connectionString="Data Source=localhost;Initial Catalog=GhostbustersDev;User ID=DemoApp;Password=blah;MultipleActiveResultSets=True;Application Name=GhostBusterWeb" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>